body {
  background-image: url("moroccan-flower.png");
}

table {
  width: 50%;
  border-collapse: collapse;
  background-image: url("simple-faded-colorful-wallpaper-preview.jpg");
}

table, th, td {
  border: 1px solid purple;
}

th {
  background-color: black;
  color: white;
}

.book {
  width: 40px;
  height: 50px;
}

h1 {
  text-align: center;
}

th {
  text-align: left;
}
